<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>{% block title %}Autoparts{% endblock %}</title>
</head>
<body>
    <!-- header с навигацией -->
  <header>
    <nav class="main-nav">
      <a href="{{ url_for('home') }}">Главная</a>
      <a href="{{ url_for('catalog') }}">Каталог</a>
      <a href="{{ url_for('requests_page') }}">Мои заявки</a>
      <a href="{{ url_for('orders_page') }}">История заказов</a>
      <a href="{{ url_for('profile') }}">Профиль</a>
      {% if session['is_admin'] %}
      <a href="{{ url_for('admin_panel') }}">Админ-панель</a>
      {% endif %}
    </nav>
  </header>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>